body, h1, h2, h3, h4, h5
  margin: 0
  padding: 0
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif
  font-weight: 100
  background: #000
.defloat
  float: none
  clear: both
  line-height: 0
@import "game"


.rotatable
  margin: 20% auto
  -webkit-transform: perspective(600) rotateX(45deg)
  transform: perspective(600px) rotateX(45deg)
  perspective: 30px
  width: 200px
  height: 200px
  background: #aa0000