!!!
%html
  %head
    = stylesheet_link_tag "normalize", media: "all"
    = stylesheet_link_tag "all", media: "all"
    = javascript_include_tag "jquery.min"
    = javascript_include_tag "all"
  %body
    =yield
